*{
	margin: 0;
	padding: 0;
}
body {
	background: rgb(199,199,199);
	font-family: Arial, Helvetica, sans-serif;
}
header {
	background: url("images/watercolour.jpg");
	background-size: cover;
	margin: 0 auto;
}
.title {
	font-family: 'Caveat';
	font-size: 50px;
	padding: 100px 0px 35px 50px;
}
.l2 {
    display: inline;
    padding: 0px 10px 0px 30px;
    font-family: "NoteWorthy", "Bradley Hand", monospace; 
    font-size: 17px; 
}
a {
	color: rgb(200,255,240);
}
article {
	max-width: 650px;
    padding: 20px;
    margin: 0 auto;
}
img {
	margin: 0px 0px 0px 0px;
	border: 7px solid rgb(199,199,199);
	border-radius: 20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.liner {
	padding: 10px;
	background: rgba(0,0,0,0.5);
    }
ul {
	padding: 10px 10px 10px 50px;
}
h1,h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.AT {
	padding-bottom: 15px;
}
h1,h2,h3 {
	font-family: "NoteWorthy", "Bradley Hand", monospace;
}
p {
	font-size: 15px;
}